%h2 One moment please...
.meter
  %p
    You completed
    %span 0%
    of your waiting line
%p We're currently handling a peak of orders in our webshops. You are now in the virtual waiting line. When your turn arrives you will have a limited amount of time to complete your order.
.extra-info
  %p Be careful and don't close this website, otherwise you will lose your place in line!
  %p While waiting, make sure you have all the information necessary to make your order process as fast and easy as possible.
.salut
  %p Thanks for your patience,
  %p The Timoco Team
