html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

body, select, input, textarea {
  color: #222222;
}

#container {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, #ffd95f), color-stop(5%, rgba(255, 217, 95, 0))), -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0.5%, #ffd95f), color-stop(0.5%, #ffffff), color-stop(5.05556%, #ffffff), color-stop(5.05556%, #ffd95f), color-stop(6.05556%, #ffd95f), color-stop(6.05556%, #ffffff), color-stop(10.61111%, #ffffff), color-stop(10.61111%, #ffd95f), color-stop(11.61111%, #ffd95f), color-stop(11.61111%, #ffffff), color-stop(16.16667%, #ffffff), color-stop(16.16667%, #ffd95f), color-stop(17.16667%, #ffd95f), color-stop(17.16667%, #ffffff), color-stop(21.72222%, #ffffff), color-stop(21.72222%, #ffd95f), color-stop(22.72222%, #ffd95f), color-stop(22.72222%, #ffffff), color-stop(27.27778%, #ffffff), color-stop(27.27778%, #ffd95f), color-stop(28.27778%, #ffd95f), color-stop(28.27778%, #ffffff), color-stop(32.83333%, #ffffff), color-stop(32.83333%, #ffd95f), color-stop(33.83333%, #ffd95f), color-stop(33.83333%, #ffffff), color-stop(38.38889%, #ffffff), color-stop(38.38889%, #ffd95f), color-stop(39.38889%, #ffd95f), color-stop(39.38889%, #ffffff), color-stop(43.94444%, #ffffff), color-stop(43.94444%, #ffd95f), color-stop(44.94444%, #ffd95f), color-stop(44.94444%, #ffffff), color-stop(49.5%, #ffffff), color-stop(49.5%, #ffd95f), color-stop(50.5%, #ffd95f), color-stop(50.5%, #ffffff), color-stop(55.05556%, #ffffff), color-stop(55.05556%, #ffd95f), color-stop(56.05556%, #ffd95f), color-stop(56.05556%, #ffffff), color-stop(60.61111%, #ffffff), color-stop(60.61111%, #ffd95f), color-stop(61.61111%, #ffd95f), color-stop(61.61111%, #ffffff), color-stop(66.16667%, #ffffff), color-stop(66.16667%, #ffd95f), color-stop(67.16667%, #ffd95f), color-stop(67.16667%, #ffffff), color-stop(71.72222%, #ffffff), color-stop(71.72222%, #ffd95f), color-stop(72.72222%, #ffd95f), color-stop(72.72222%, #ffffff), color-stop(77.27778%, #ffffff), color-stop(77.27778%, #ffd95f), color-stop(78.27778%, #ffd95f), color-stop(78.27778%, #ffffff), color-stop(82.83333%, #ffffff), color-stop(82.83333%, #ffd95f), color-stop(83.83333%, #ffd95f), color-stop(83.83333%, #ffffff), color-stop(88.38889%, #ffffff), color-stop(88.38889%, #ffd95f), color-stop(89.38889%, #ffd95f), color-stop(89.38889%, #ffffff), color-stop(93.94444%, #ffffff), color-stop(93.94444%, #ffd95f), color-stop(94.94444%, #ffd95f), color-stop(94.94444%, #ffffff), color-stop(99.5%, #ffffff), color-stop(99.5%, #ffd95f), color-stop(100%, #ffd95f));
  background-image: -webkit-linear-gradient(bottom, #ffd95f 5%, rgba(255, 217, 95, 0) 5%), -webkit-linear-gradient(left, #ffd95f 0.5%, #ffffff 0.5%, #ffffff 5.05556%, #ffd95f 5.05556%, #ffd95f 6.05556%, #ffffff 6.05556%, #ffffff 10.61111%, #ffd95f 10.61111%, #ffd95f 11.61111%, #ffffff 11.61111%, #ffffff 16.16667%, #ffd95f 16.16667%, #ffd95f 17.16667%, #ffffff 17.16667%, #ffffff 21.72222%, #ffd95f 21.72222%, #ffd95f 22.72222%, #ffffff 22.72222%, #ffffff 27.27778%, #ffd95f 27.27778%, #ffd95f 28.27778%, #ffffff 28.27778%, #ffffff 32.83333%, #ffd95f 32.83333%, #ffd95f 33.83333%, #ffffff 33.83333%, #ffffff 38.38889%, #ffd95f 38.38889%, #ffd95f 39.38889%, #ffffff 39.38889%, #ffffff 43.94444%, #ffd95f 43.94444%, #ffd95f 44.94444%, #ffffff 44.94444%, #ffffff 49.5%, #ffd95f 49.5%, #ffd95f 50.5%, #ffffff 50.5%, #ffffff 55.05556%, #ffd95f 55.05556%, #ffd95f 56.05556%, #ffffff 56.05556%, #ffffff 60.61111%, #ffd95f 60.61111%, #ffd95f 61.61111%, #ffffff 61.61111%, #ffffff 66.16667%, #ffd95f 66.16667%, #ffd95f 67.16667%, #ffffff 67.16667%, #ffffff 71.72222%, #ffd95f 71.72222%, #ffd95f 72.72222%, #ffffff 72.72222%, #ffffff 77.27778%, #ffd95f 77.27778%, #ffd95f 78.27778%, #ffffff 78.27778%, #ffffff 82.83333%, #ffd95f 82.83333%, #ffd95f 83.83333%, #ffffff 83.83333%, #ffffff 88.38889%, #ffd95f 88.38889%, #ffd95f 89.38889%, #ffffff 89.38889%, #ffffff 93.94444%, #ffd95f 93.94444%, #ffd95f 94.94444%, #ffffff 94.94444%, #ffffff 99.5%, #ffd95f 99.5%, #ffd95f 100%);
  background-image: -moz-linear-gradient(bottom, #ffd95f 5%, rgba(255, 217, 95, 0) 5%), -moz-linear-gradient(left, #ffd95f 0.5%, #ffffff 0.5%, #ffffff 5.05556%, #ffd95f 5.05556%, #ffd95f 6.05556%, #ffffff 6.05556%, #ffffff 10.61111%, #ffd95f 10.61111%, #ffd95f 11.61111%, #ffffff 11.61111%, #ffffff 16.16667%, #ffd95f 16.16667%, #ffd95f 17.16667%, #ffffff 17.16667%, #ffffff 21.72222%, #ffd95f 21.72222%, #ffd95f 22.72222%, #ffffff 22.72222%, #ffffff 27.27778%, #ffd95f 27.27778%, #ffd95f 28.27778%, #ffffff 28.27778%, #ffffff 32.83333%, #ffd95f 32.83333%, #ffd95f 33.83333%, #ffffff 33.83333%, #ffffff 38.38889%, #ffd95f 38.38889%, #ffd95f 39.38889%, #ffffff 39.38889%, #ffffff 43.94444%, #ffd95f 43.94444%, #ffd95f 44.94444%, #ffffff 44.94444%, #ffffff 49.5%, #ffd95f 49.5%, #ffd95f 50.5%, #ffffff 50.5%, #ffffff 55.05556%, #ffd95f 55.05556%, #ffd95f 56.05556%, #ffffff 56.05556%, #ffffff 60.61111%, #ffd95f 60.61111%, #ffd95f 61.61111%, #ffffff 61.61111%, #ffffff 66.16667%, #ffd95f 66.16667%, #ffd95f 67.16667%, #ffffff 67.16667%, #ffffff 71.72222%, #ffd95f 71.72222%, #ffd95f 72.72222%, #ffffff 72.72222%, #ffffff 77.27778%, #ffd95f 77.27778%, #ffd95f 78.27778%, #ffffff 78.27778%, #ffffff 82.83333%, #ffd95f 82.83333%, #ffd95f 83.83333%, #ffffff 83.83333%, #ffffff 88.38889%, #ffd95f 88.38889%, #ffd95f 89.38889%, #ffffff 89.38889%, #ffffff 93.94444%, #ffd95f 93.94444%, #ffd95f 94.94444%, #ffffff 94.94444%, #ffffff 99.5%, #ffd95f 99.5%, #ffd95f 100%);
  background-image: -o-linear-gradient(bottom, #ffd95f 5%, rgba(255, 217, 95, 0) 5%), -o-linear-gradient(left, #ffd95f 0.5%, #ffffff 0.5%, #ffffff 5.05556%, #ffd95f 5.05556%, #ffd95f 6.05556%, #ffffff 6.05556%, #ffffff 10.61111%, #ffd95f 10.61111%, #ffd95f 11.61111%, #ffffff 11.61111%, #ffffff 16.16667%, #ffd95f 16.16667%, #ffd95f 17.16667%, #ffffff 17.16667%, #ffffff 21.72222%, #ffd95f 21.72222%, #ffd95f 22.72222%, #ffffff 22.72222%, #ffffff 27.27778%, #ffd95f 27.27778%, #ffd95f 28.27778%, #ffffff 28.27778%, #ffffff 32.83333%, #ffd95f 32.83333%, #ffd95f 33.83333%, #ffffff 33.83333%, #ffffff 38.38889%, #ffd95f 38.38889%, #ffd95f 39.38889%, #ffffff 39.38889%, #ffffff 43.94444%, #ffd95f 43.94444%, #ffd95f 44.94444%, #ffffff 44.94444%, #ffffff 49.5%, #ffd95f 49.5%, #ffd95f 50.5%, #ffffff 50.5%, #ffffff 55.05556%, #ffd95f 55.05556%, #ffd95f 56.05556%, #ffffff 56.05556%, #ffffff 60.61111%, #ffd95f 60.61111%, #ffd95f 61.61111%, #ffffff 61.61111%, #ffffff 66.16667%, #ffd95f 66.16667%, #ffd95f 67.16667%, #ffffff 67.16667%, #ffffff 71.72222%, #ffd95f 71.72222%, #ffd95f 72.72222%, #ffffff 72.72222%, #ffffff 77.27778%, #ffd95f 77.27778%, #ffd95f 78.27778%, #ffffff 78.27778%, #ffffff 82.83333%, #ffd95f 82.83333%, #ffd95f 83.83333%, #ffffff 83.83333%, #ffffff 88.38889%, #ffd95f 88.38889%, #ffd95f 89.38889%, #ffffff 89.38889%, #ffffff 93.94444%, #ffd95f 93.94444%, #ffd95f 94.94444%, #ffffff 94.94444%, #ffffff 99.5%, #ffd95f 99.5%, #ffd95f 100%);
  background-image: -ms-linear-gradient(bottom, #ffd95f 5%, rgba(255, 217, 95, 0) 5%), -ms-linear-gradient(left, #ffd95f 0.5%, #ffffff 0.5%, #ffffff 5.05556%, #ffd95f 5.05556%, #ffd95f 6.05556%, #ffffff 6.05556%, #ffffff 10.61111%, #ffd95f 10.61111%, #ffd95f 11.61111%, #ffffff 11.61111%, #ffffff 16.16667%, #ffd95f 16.16667%, #ffd95f 17.16667%, #ffffff 17.16667%, #ffffff 21.72222%, #ffd95f 21.72222%, #ffd95f 22.72222%, #ffffff 22.72222%, #ffffff 27.27778%, #ffd95f 27.27778%, #ffd95f 28.27778%, #ffffff 28.27778%, #ffffff 32.83333%, #ffd95f 32.83333%, #ffd95f 33.83333%, #ffffff 33.83333%, #ffffff 38.38889%, #ffd95f 38.38889%, #ffd95f 39.38889%, #ffffff 39.38889%, #ffffff 43.94444%, #ffd95f 43.94444%, #ffd95f 44.94444%, #ffffff 44.94444%, #ffffff 49.5%, #ffd95f 49.5%, #ffd95f 50.5%, #ffffff 50.5%, #ffffff 55.05556%, #ffd95f 55.05556%, #ffd95f 56.05556%, #ffffff 56.05556%, #ffffff 60.61111%, #ffd95f 60.61111%, #ffd95f 61.61111%, #ffffff 61.61111%, #ffffff 66.16667%, #ffd95f 66.16667%, #ffd95f 67.16667%, #ffffff 67.16667%, #ffffff 71.72222%, #ffd95f 71.72222%, #ffd95f 72.72222%, #ffffff 72.72222%, #ffffff 77.27778%, #ffd95f 77.27778%, #ffd95f 78.27778%, #ffffff 78.27778%, #ffffff 82.83333%, #ffd95f 82.83333%, #ffd95f 83.83333%, #ffffff 83.83333%, #ffffff 88.38889%, #ffd95f 88.38889%, #ffd95f 89.38889%, #ffffff 89.38889%, #ffffff 93.94444%, #ffd95f 93.94444%, #ffd95f 94.94444%, #ffffff 94.94444%, #ffffff 99.5%, #ffd95f 99.5%, #ffd95f 100%);
  background-image: linear-gradient(bottom, #ffd95f 5%, rgba(255, 217, 95, 0) 5%), linear-gradient(left, #ffd95f 0.5%, #ffffff 0.5%, #ffffff 5.05556%, #ffd95f 5.05556%, #ffd95f 6.05556%, #ffffff 6.05556%, #ffffff 10.61111%, #ffd95f 10.61111%, #ffd95f 11.61111%, #ffffff 11.61111%, #ffffff 16.16667%, #ffd95f 16.16667%, #ffd95f 17.16667%, #ffffff 17.16667%, #ffffff 21.72222%, #ffd95f 21.72222%, #ffd95f 22.72222%, #ffffff 22.72222%, #ffffff 27.27778%, #ffd95f 27.27778%, #ffd95f 28.27778%, #ffffff 28.27778%, #ffffff 32.83333%, #ffd95f 32.83333%, #ffd95f 33.83333%, #ffffff 33.83333%, #ffffff 38.38889%, #ffd95f 38.38889%, #ffd95f 39.38889%, #ffffff 39.38889%, #ffffff 43.94444%, #ffd95f 43.94444%, #ffd95f 44.94444%, #ffffff 44.94444%, #ffffff 49.5%, #ffd95f 49.5%, #ffd95f 50.5%, #ffffff 50.5%, #ffffff 55.05556%, #ffd95f 55.05556%, #ffd95f 56.05556%, #ffffff 56.05556%, #ffffff 60.61111%, #ffd95f 60.61111%, #ffd95f 61.61111%, #ffffff 61.61111%, #ffffff 66.16667%, #ffd95f 66.16667%, #ffd95f 67.16667%, #ffffff 67.16667%, #ffffff 71.72222%, #ffd95f 71.72222%, #ffd95f 72.72222%, #ffffff 72.72222%, #ffffff 77.27778%, #ffd95f 77.27778%, #ffd95f 78.27778%, #ffffff 78.27778%, #ffffff 82.83333%, #ffd95f 82.83333%, #ffd95f 83.83333%, #ffffff 83.83333%, #ffffff 88.38889%, #ffd95f 88.38889%, #ffd95f 89.38889%, #ffffff 89.38889%, #ffffff 93.94444%, #ffd95f 93.94444%, #ffd95f 94.94444%, #ffffff 94.94444%, #ffffff 99.5%, #ffd95f 99.5%, #ffd95f 100%);
  -moz-background-size: 100% 24px, auto;
  -webkit-background-size: 100% 24px, auto;
  -o-background-size: 100% 24px, auto;
  background-size: 100% 24px, auto;
  background-position: left top;
}

.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}
.ir br {
  display: none;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */
}
@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */
}
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  a, a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }

  /* Style adjustments for print go here */
}
