// This file must be imported before loading html5-boilerplate
@import "compass/layout/grid-background";
@import "compass/typography/text/replacement";
@import "compass/typography/vertical_rhythm";
@import "compass/reset";
@import "susy";
@import "modular-scale";

@import "mixins";

// base
// $line-height: 1.4 !default;

// $link-color: #00e !default;
// $link-hover-color: #06e !default;
// $link-visited-color: #551a8b !default;
//
// $selected-font-color: #fff !default;
// $selected-background-color: #ff5e99 !default;
//
// $invalid-background-color: #f0dddd !default;

// Susy:
$total-cols             : 18;
$gutter-width           : 2%;
$side-gutter-width      : $gutter-width/2;
$col-width              : (100% - ($total-cols*$gutter-width))/$total-cols;
$column-color: white;
$gutter-color: #FFD95F;
$baseline-color: #FFD95F;

// Fonts:
$base-font-size: 16px; // Used by Compass
$base-line-height: 20px;  // Used by Compass

// Modular scale:
// $ratio: $golden;
$base-size: 8px $base-font-size;
// $class-slug: ms;


// color:
$font-color: #4C5053;
$base-color: #D94395; // Pink
$darker-base-color: #BF3F86; // Darker pink
$darkest-base-color: #A62D65; // Even darker pink
$complement-accent-color: #F2F2F2; // Light grey
$complement-support-color: #D99AB7; // Purple

