@import "compass/css3";

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------
body, select, input, textarea {
  color: $font-color;
  // Set your base font here, to apply evenly
  // font-family: Georgia, serif;
}

//-----------------------------------
// Add your own custom styles below
//-----------------------------------

@include establish-baseline;

body {
  @extend .sans;
  // @include grid;
}

h1 {
  @include adjust-font-size-to(ms(2));
  @include replace-text('timoco_logo.png', left, center);
}

h2 {
  @include adjust-font-size-to(ms(1));
  font-style: italic;
}

p {
  @include rhythm(1,0,0,1);
}

#container {
  @include pad(4,4);
  @include rhythm(3,0,0,3);
}

header {
  @include margin-trailer(1);
  @include rounded-gradient-box;
}

#main {
  padding: {
    right: gutter();
    left: gutter();
  }
  @include rounded-gradient-box(#e6e9eb, bottom-to-top);
}

footer {}

.sans {
  @include sans-family;
}

.serif {
  @include serif-family;
}

.mono {
  @include monospace-family;
}
